# Sipari≈üler

‚úèÔ∏è **Alƒ±≈ütƒ±rma**

Bug√ºn **sipari≈üleri** ve bunlara ait **deƒüerlendirme puanƒ±nƒ± (review score)** inceleyeceƒüiz.

üëâ Amacƒ±mƒ±z a≈üaƒüƒ±daki √∂zelliklere sahip bir DataFrame olu≈üturmaktƒ±r:


| √∂zellik_adƒ±  	| tip  	| a√ßƒ±klama  	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| sipari≈üin kimliƒüi (id) 	|
| `wait_time` 	| float 	| `order_purchase_timestamp` ile `order_delivered_customer_date` arasƒ±ndaki g√ºn sayƒ±sƒ± 	|
| `expected_wait_time` 	| float 	| `order_purchase_timestamp` ile `estimated_delivery_date` arasƒ±ndaki beklenen g√ºn sayƒ±sƒ± 	|
| `delay_vs_expected` 	| float 	| ger√ßek `order_delivered_customer_date` tahmini teslim tarihinden sonra ise iki tarih arasƒ±ndaki g√ºn sayƒ±sƒ±nƒ± d√∂nd√ºr√ºr, aksi halde 0 d√∂nd√ºr√ºr 	|
| `order_status` 	| str 	| sipari≈üin durumu 	|
| `dim_is_five_star` 	| int 	| sipari≈ü be≈ü yƒ±ldƒ±z aldƒ±ysa 1, aksi halde 0 	|
| `dim_is_one_star` 	| int 	| sipari≈ü bir yƒ±ldƒ±z aldƒ±ysa 1, aksi halde 0 	|
| `review_score` 	| int 	| 1 ile 5 arasƒ±nda 	|
| `number_of_items` 	| int 	| sipari≈üin i√ßerdiƒüi toplam √ºr√ºn sayƒ±sƒ± 	|
| `number_of_sellers` 	| int 	| sipari≈üte yer alan satƒ±cƒ± sayƒ±sƒ± 	|
| `price` 	| float 	| m√º≈üterinin √∂dediƒüi toplam sipari≈ü fiyatƒ± 	|
| `freight_value` 	| float 	| m√º≈üterinin √∂dediƒüi kargo √ºcreti 	|
| `distance_customer_seller` 	| float 	| m√º≈üteri ile satƒ±cƒ± arasƒ±ndaki mesafe (km, isteƒüe baƒülƒ±) 	|  

‚ö†Ô∏è Ayrƒ±ca "teslim edilmemi≈ü" sipari≈üleri filtrelemeliyiz; aksi belirtilmedik√ße bunlarƒ± dahil etmeyin, √ß√ºnk√º potansiyel gecikmeleri hesaplayamayƒ±z.

‚ùì **Senin g√∂revin**: 

- Her bir √∂zelliƒüi `olist/order.py` i√ßindeki `Order` sƒ±nƒ±fƒ±nda ayrƒ± bir metod olarak uygulayƒ±n
- Ardƒ±ndan, eksiksiz DataFrame'i **`NaN` i√ßermeyecek ≈üekilde** d√∂nd√ºren `get_training_data()` metodunu olu≈üturun.

üí° √ñnerilen y√∂ntem:
- √ñnce a≈üaƒüƒ±daki notebook'u kullanarak kodunuzu adƒ±m adƒ±m yazƒ±p test edin
- Kod mantƒ±ƒüƒ±nƒ±zdan emin olduktan sonra kodu `order.py` dosyasƒ±na kopyalayƒ±n
- ≈ûimdilik veri i≈üleme mantƒ±ƒüƒ±na odaklanƒ±n; veriyi g√∂rselle≈ütirmeyi sonraki alƒ±≈ütƒ±rmalarda yapacaƒüƒ±z

üî• Notebook i√ßin en iyi uygulamalar (okumanƒ±z zorunludur) üëá

<details>
    <summary>‚ñ∏ <i>tƒ±klayƒ±n</i></summary>

Bundan sonra ke≈üif ama√ßlƒ± notebook'lar olduk√ßa uzun olabilir; bu nedenle a≈üaƒüƒ±daki ilkeleri takip etmenizi ≈üiddetle tavsiye ediyoruz:
- Kodunuzu, Notebook her zaman ba≈ütan sona √ßalƒ±≈ütƒ±rƒ±ldƒ±ƒüƒ±nda √ß√∂kmeden √ßalƒ±≈üacak ≈üekilde yazƒ±n (Run --> Run All Cells)
- Deƒüi≈üken adlarƒ±nƒ± dikkatli se√ßin
- Kƒ±sa s√ºreyle kullanƒ±lacak ara adƒ±mlar i√ßin `tmp` veya `_` gibi ge√ßici isimler kullanƒ±n
- Notebook boyutunu azaltmak i√ßin kodunuzu temizleyin ve h√ºcreleri birle≈ütirin (`Shift-M`)
- Katlanabilir ba≈ülƒ±klar ve i√ßerik tablosunu sƒ±k√ßa kullanƒ±n (bulamazsanƒ±z bir TA'ya danƒ±≈üƒ±n)
- A≈üaƒüƒ±daki kƒ±sayollarƒ± kullanƒ±n
    - `a` bir h√ºcre √ºst√ºne ekler
    - `b` bir h√ºcre alta ekler
    - `dd` bir h√ºcreyi siler
    - `esc` ve `ok` tu≈ülarƒ± ile h√ºcreler arasƒ± gezinme
    - `Shift-Enter` h√ºcreyi √ßalƒ±≈ütƒ±rƒ±r ve sonraki h√ºcreye ge√ßer
    - parantez i√ßindeyken √∂rn. `groupby()` √ºzerinde `Shift + Tab` kullanarak dok√ºmantasyona bakabilirsiniz. Birka√ß kez tekrar edin, kalƒ±cƒ± olarak a√ßmak i√ßin

</details>

In [53]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from olist.data import Olist
from olist.order import Order

In [54]:


olist = Olist()
data = olist.get_data()

data.keys()

dict_keys(['geolocation', 'order_reviews', 'orders', 'products', 'sellers', 'product_category_name_translation', 'customers', 'order_payments', 'order_items'])

In [55]:


order = Order()
order.orders = data["orders"]
order.reviews = data["order_reviews"]
order.order_items = data["order_items"]
order.order_payments = data["order_payments"]
order.sellers = data["sellers"]

In [56]:
order.get_wait_time().head()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,8.436574,15.544063,0.0,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,13.782037,19.137766,0.0,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,9.394213,26.639711,0.0,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,13.208750,26.188819,0.0,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2.873877,12.112049,0.0,delivered

In [57]:
order.get_review_score().head()

,order_id,review_score,dim_is_five_star,dim_is_one_star
0,73fc7af87114b39712e6da79b0a377eb,4,0,0
1,a548910a1c6147796b98fdf73dbeba33,5,1,0
2,f9e4b658b201a9f2ecdecbb34bed034b,5,1,0
3,658677c97b385a9be170737859d3511b,5,1,0
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,1,0

In [59]:
order.get_number_items().head()

                           order_id  number_of_items
0  00010242fe8c5a6d1ba2dd792cb16214                1
1  00018f77f2f0320c557190d7a144bdd3                1
2  000229ec398224ef6ca0657da4fc703e                1
3  00024acbcdf0a6daa1e931b038114c75                1
4  00042b26cf59d7ce69dfabb4e55b4fd9                1

In [60]:
order.get_number_sellers().head()

                           order_id  number_of_sellers
0  00010242fe8c5a6d1ba2dd792cb16214                  1
1  00018f77f2f0320c557190d7a144bdd3                  1
2  000229ec398224ef6ca0657da4fc703e                  1
3  00024acbcdf0a6daa1e931b038114c75                  1
4  00042b26cf59d7ce69dfabb4e55b4fd9                  1

In [61]:
order.get_price_and_freight().head()

                           order_id   price  freight_value
0  00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
1  00018f77f2f0320c557190d7a144bdd3  239.90          19.93
2  000229ec398224ef6ca0657da4fc703e  199.00          17.87
3  00024acbcdf0a6daa1e931b038114c75   12.99          12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14

In [62]:
df = order.get_training_data()

df.head()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status,review_score,dim_is_five_star,dim_is_one_star,number_of_items,number_of_sellers,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,8.436574,15.544063,0.0,delivered,4.0,0.0,0.0,1,1,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,13.782037,19.137766,0.0,delivered,4.0,0.0,0.0,1,1,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,9.394213,26.639711,0.0,delivered,5.0,1.0,0.0,1,1,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,13.208750,26.188819,0.0,delivered,5.0,1.0,0.0,1,1,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,2.873877,12.112049,0.0,delivered,5.0,1.0,0.0,1,1,19.90,8.72

In [63]:
df.shape

(96353, 12)

In [64]:
df.isna().sum()

order_id              0
wait_time             0
expected_wait_time    0
delay_vs_expected     0
order_status          0
review_score          0
dim_is_five_star      0
dim_is_one_star       0
number_of_items       0
number_of_sellers     0
price                 0
freight_value         0
dtype: int64

In [65]:
#from olist.data import Olist

#print(Olist)
#print(Olist.__module__)

In [66]:
#from olist.data import Olist

#olist = Olist()
#result = olist.get_data()

#print(result)
#print(type(result))

In [67]:
#from olist.data import Olist
#data = Olist().get_data()
#print(type(data))

In [68]:
#order.get_training_data().shape

In [16]:
#import olist
#print(olist.__file__)

In [41]:
#print(sys.executable)

In [69]:
# Auto reload imported module every time a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [70]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [71]:
%matplotlib inline

In [72]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [73]:
print(data)

{'geolocation':          geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                               1037       -23.545621       -46.639292
1                               1046       -23.546081       -46.644820
2                               1046       -23.546129       -46.642951
3                               1041       -23.544392       -46.639499
4                               1035       -23.541578       -46.641607
...                              ...              ...              ...
1000158                        99950       -28.068639       -52.010705
1000159                        99900       -27.877125       -52.224882
1000160                        99950       -28.071855       -52.014716
1000161                        99980       -28.388932       -51.846871
1000162                        99950       -28.070104       -52.018658

        geolocation_city geolocation_state
0              sao paulo                SP
1              sao paulo                SP
2              sao paulo                SP
3              sao paulo                SP
4              sao paulo                SP
...                  ...               ...
1000158         tapejara                RS
1000159   getulio vargas                RS
1000160         tapejara                RS
1000161  david canabarro                RS
1000162         tapejara                RS

[1000163 rows x 5 columns], 'order_reviews':                               review_id                          order_id  \
0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
...                                 ...                               ...
99219  574ed12dd733e5fa530cfd4bbf39d7c9  2a8c23fee101d4d5662fa670396eb8da
99220  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
99221  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

       review_score review_comment_title  \
0                 4                  NaN
1                 5                  NaN
2                 5                  NaN
3                 5                  NaN
4                 5                  NaN
...             ...                  ...
99219             5                  NaN
99220             5                  NaN
99221             5                  NaN
99222             4                  NaN
99223             1                  NaN

                                  review_comment_message review_creation_date  \
0                                                    NaN  2018-01-18 00:00:00
1                                                    NaN  2018-03-10 00:00:00
2                                                    NaN  2018-02-17 00:00:00
3                  Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4      Parab√©ns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00
...                                                  ...                  ...
99219                                                NaN  2018-07-07 00:00:00
99220                                                NaN  2017-12-09 00:00:00
99221  Excelente mochila, entrega super r√°pida. Super...  2018-03-22 00:00:00
99222                                                NaN  2018-07-01 00:00:00
99223  meu produto chegou e ja tenho que devolver, po...  2017-07-03 00:00:00

      review_answer_timestamp
0         2018-01-18 21:46:59
1         2018-03-11 03:05:13
2         2018-02-18 14:36:24
3         2017-04-21 22:02:06
4         2018-03-02 10:26:53
...                       ...
99219     2018-07-14 17:18:30
99220     2017-12-11 20:06:42
99221     2018-03-23 09:10:43
99222     2018-07-02 12:59:13
99223     2017-07-03 21:01:49

[99224 rows x 7 columns], 'orders':                                order_id                       customer_id  \
0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
...                                 ...                               ...
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

      order_status order_purchase_timestamp    order_approved_at  \
0        delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1        delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2        delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3        delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4        delivered      2018-02-13 21:18:39  2018-02-13 22:20:29
...            ...                      ...                  ...
99436    delivered      2017-03-09 09:54:05  2017-03-09 09:54:05
99437    delivered      2018-02-06 12:58:58  2018-02-06 13:10:37
99438    delivered      2017-08-27 14:46:43  2017-08-27 15:04:16
99439    delivered      2018-01-08 21:28:27  2018-01-08 21:36:21
99440    delivered      2018-03-08 20:57:30  2018-03-09 11:20:28

      order_delivered_carrier_date order_delivered_customer_date  \
0              2017-10-04 19:55:00           2017-10-10 21:25:13
1              2018-07-26 14:31:00           2018-08-07 15:27:45
2              2018-08-08 13:50:00           2018-08-17 18:06:29
3              2017-11-22 13:39:59           2017-12-02 00:28:42
4              2018-02-14 19:46:34           2018-02-16 18:17:02
...                            ...                           ...
99436          2017-03-10 11:18:03           2017-03-17 15:08:01
99437          2018-02-07 23:22:42           2018-02-28 17:37:56
99438          2017-08-28 20:52:26           2017-09-21 11:24:17
99439          2018-01-12 15:35:03           2018-01-25 23:32:54
99440          2018-03-09 22:11:59           2018-03-16 13:08:30

      order_estimated_delivery_date
0               2017-10-18 00:00:00
1               2018-08-13 00:00:00
2               2018-09-04 00:00:00
3               2017-12-15 00:00:00
4               2018-02-26 00:00:00
...                             ...
99436           2017-03-28 00:00:00
99437           2018-03-02 00:00:00
99438           2017-09-27 00:00:00
99439           2018-02-15 00:00:00
99440           2018-04-03 00:00:00

[99441 rows x 8 columns], 'products':                              product_id              product_category_name  \
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

       product_name_lenght  product_description_lenght  product_photos_qty  \
0                     40.0                       287.0                 1.0
1                     44.0                       276.0                 1.0
2                     46.0                       250.0                 1.0
3                     27.0                       261.0                 1.0
4                     37.0                       402.0                 4.0
...                    ...                         ...                 ...
32946                 45.0                        67.0                 2.0
32947                 41.0                       971.0                 1.0
32948                 50.0                       799.0                 1.0
32949                 60.0                       156.0                 2.0
32950                 58.0                       309.0                 1.0

       product_weight_g  product_length_cm  product_height_cm  \
0                 225.0               16.0               10.0
1                1000.0               30.0               18.0
2                 154.0               18.0                9.0
3                 371.0               26.0                4.0
4                 625.0               20.0               17.0
...                 ...                ...                ...
32946           12300.0               40.0               40.0
32947            1700.0               16.0               19.0
32948            1400.0               27.0                7.0
32949             700.0               31.0               13.0
32950            2083.0               12.0                2.0

       product_width_cm
0                  14.0
1                  20.0
2                  15.0
3                  26.0
4                  13.0
...                 ...
32946              40.0
32947              16.0
32948              27.0
32949              20.0
32950               7.0

[32951 rows x 9 columns], 'sellers':                              seller_id  seller_zip_code_prefix  \
0     3442f8959a84dea7ee197c632cb2df15                   13023
1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
...                                ...                     ...
3090  98dddbc4601dd4443ca174359b237166                   87111
3091  f8201cab383e484733266d1906e2fdfa                   88137
3092  74871d19219c7d518d0090283e03c137                    4650
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
3094  9e25199f6ef7e7c347120ff175652c3b                   12051

            seller_city seller_state
0              campinas           SP
1            mogi guacu           SP
2        rio de janeiro           RJ
3             sao paulo           SP
4     braganca paulista           SP
...                 ...          ...
3090            sarandi           PR
3091            palhoca           SC
3092          sao paulo           SP
3093            pelotas           RS
3094            taubate           SP

[3095 rows x 4 columns], 'product_category_name_translation':             product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns], 'customers':                             customer_id                customer_unique_id  \
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
...                                 ...                               ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 5 columns], 'order_payments':                                 order_id  payment_sequential payment_type  \
0       b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1       a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2       25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3       ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4       42fdf880ba16b47b59251dd489d4441a                   1  credit_card
...                                  ...                 ...          ...
103881  0406037ad97740d563a178ecc7a2075c                   1       boleto
103882  7b905861d7c825891d6347454ea7863f                   1  credit_card
103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card
103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card
103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto

        payment_installments  payment_value
0                          8          99.33
1                          1          24.39
2                          1          65.71
3                          8         107.78
4                          2         128.45
...                      ...            ...
103881                     1         363.31
103882                     2          96.80
103883                     1          47.77
103884                     5         369.54
103885                     1         191.58

[103886 rows x 5 columns], 'order_items':                                 order_id  order_item_id  \
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       00018f77f2f0320c557190d7a144bdd3              1
2       000229ec398224ef6ca0657da4fc703e              1
3       00024acbcdf0a6daa1e931b038114c75              1
4       00042b26cf59d7ce69dfabb4e55b4fd9              1
...                                  ...            ...
112645  fffc94f6ce00a00581880bf54a75a037              1
112646  fffcd46ef2263f404302a634eb57f7eb              1
112647  fffce4705a9662cd70adb13d4a31832d              1
112648  fffe18544ffabc95dfada21779c9644f              1
112649  fffe41c64501cc87c801fd61db3f6244              1

                              product_id                         seller_id  \
0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
...                                  ...                               ...
112645  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
112647  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
112648  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
112649  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

        shipping_limit_date   price  freight_value
0       2017-09-19 09:45:35   58.90          13.29
1       2017-05-03 11:05:13  239.90          19.93
2       2018-01-18 14:48:30  199.00          17.87
3       2018-08-15 10:10:18   12.99          12.79
4       2017-02-13 13:57:51  199.90          18.14
...                     ...     ...            ...
112645  2018-05-02 04:11:01  299.99          43.41
112646  2018-07-20 04:31:48  350.00          36.53
112647  2017-10-30 17:14:25   99.90          16.95
112648  2017-08-21 00:04:32   55.99           8.72
112649  2018-06-12 17:10:13   43.00          12.79

[112650 rows x 7 columns]}

In [74]:
# What datasets do we have access to now ?
data.keys()

dict_keys(['geolocation', 'order_reviews', 'orders', 'products', 'sellers', 'product_category_name_translation', 'customers', 'order_payments', 'order_items'])

In [75]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))

## 1. `order.py` dosyasƒ±nƒ± kodlayƒ±n

### a) `get_wait_time`
    ‚ùì A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
           `order_id`, `wait_time`, `expected_wait_time`, `delay_vs_expected`, `order_status`

üéÅ Bu ilk metod i√ßin a≈üaƒüƒ±da size pseudo-kod veriyoruz üëá

> 1. `orders` DataFrame'ini inceleyin
2. DataFrame'i `teslim edilmi≈ü (delivered)` sipari≈üler √ºzerine filtreleyin
3. `datetime` ile √ßalƒ±≈ümayƒ± d√ºzenleyin
    - Python [`datetime`](https://docs.python.org/3/library/datetime.html) nesnelerinin ne olduƒüunu anlamaya zaman ayƒ±rƒ±n
    - ve tarihleri "string" tipinden `pandas.to_datetime()` kullanarak `pandas.datetime` tipine d√∂n√º≈üt√ºr√ºn
4. `order_purchase_timestamp`'tan ba≈ülayarak `wait_time`'ƒ± g√ºn cinsinden ondalƒ±klƒ± bir sayƒ± olarak hesaplayƒ±n
5. `expected_wait_time`'ƒ± `order_purchase_timestamp`'tan ba≈ülayarak g√ºn cinsinden hesaplayƒ±n
6. `delay_vs_expected`'i g√ºn cinsinden hesaplayƒ±n (sipari≈ü tahmini teslim tarihinden daha erken teslim edildiyse 0 koyun)
7. Yeni DataFrame'i kontrol edin
8. Kodunuzdan memnun kaldƒ±ƒüƒ±nƒ±zda, notebook'tan `olist/order.py`'ye dikkatlice kopyalayabilirsiniz
9. ≈ûimdi metodunuzu `orders.py` i√ßinde √ßaƒüƒ±rmayƒ± deneyin
10. Kodunuz muhtemelen hemen √ßalƒ±≈ümayacaktƒ±r
11. `.py` dosyasƒ± i√ßinde √ßalƒ±≈üacak ≈üekilde gerekli deƒüi≈üiklikleri yapƒ±n

`wait_time`, `expected_wait_time` ve `delay_vs_expected`'in tam sayƒ± deƒüil ondalƒ±klƒ± g√ºn cinsinden olmasƒ±nƒ± istiyoruz. D√º≈ü√ºn√ºn: 8.1 veya 8.9 g√ºnl√ºk bir bekleme b√ºy√ºk fark yaratƒ±r. Bu y√ºzden Pandas'ƒ±n `dt.day` √∂zelliklerini kullanmayƒ±n; √ß√ºnk√º bu deƒüerleri a≈üaƒüƒ± yuvarlar.

<details>
    <summary>üí°ƒ∞pucu</summary>

Hem `wait_time` hem de `delay_vs_expected` i√ßin ilgili tarihler arasƒ±ndaki farkƒ± almak √ºzere tarihleri √ßƒ±karmanƒ±z gerekir. Ardƒ±ndan bu farkƒ±n ka√ß g√ºn√º temsil ettiƒüini bulmak i√ßin ya [`datetime.timedelta()`](https://docs.python.org/3/library/datetime.html#timedelta-objects) ya da [`np.timedelta64()`](https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-and-timedelta-arithmetic) kullanabilirsiniz!

</details>

In [76]:
from olist.order import Order

In [50]:
order = Order()
order

In [51]:
#order.get_wait_time()

In [38]:
from olist.order import Order
dir(order)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'data',
 'get_distance_seller_customer',
 'get_number_items',
 'get_number_sellers',
 'get_price_and_freight',
 'get_review_score',
 'get_training_data',
 'get_wait_time']

In [39]:
type(order)

olist.order.Order

üëÄ Olu≈üturduƒüunuz DataFrame'i kontrol edin.  

üí™ Kodunuz √ßalƒ±≈ütƒ±ƒüƒ±nda, kodunuzu `olist/order.py` i√ßine ta≈üƒ±yƒ±n  

üß™ ≈ûimdi a≈üaƒüƒ±daki h√ºcreyi √ßalƒ±≈ütƒ±rarak test edin üëá

In [ ]:
from olist.order import Order
order = Order()

In [80]:
order.orders = data["orders"]

In [84]:
# Test your code here
Order().get_wait_time()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,8.436574,15.544063,0.0,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,13.782037,19.137766,0.0,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,9.394213,26.639711,0.0,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,13.208750,26.188819,0.0,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2.873877,12.112049,0.0,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,8.218009,18.587442,0.0,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,22.193727,23.459051,0.0,delivered
99438,83c1379a015df1e13d02aae0204711ab,24.859421,30.384225,0.0,delivered
99439,11c177c8e97725db2631073c19f07b62,17.086424,37.105243,0.0,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,7.674306,25.126736,0.0,delivered

In [85]:
from nbresult import ChallengeResult
test = Order().get_wait_time()
result = ChallengeResult('wait_time', dve_type=test["delay_vs_expected"].dtype, shape=test.shape, dve_min=test["delay_vs_expected"].min(), dve_max=test["delay_vs_expected"].max())
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/zeynepdil/.pyenv/versions/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/zeynepdil/code/data-orders
configfile: pytest.ini
plugins: typeguard-4.4.2, anyio-4.8.0
collecting ... collected 1 item

test_wait_time.py::TestWaitTime::test_wait_time PASSED                   [100%]

============================== 1 passed in 0.25s ===============================


üíØ You can commit your code:

git add tests/wait_time.pickle

git commit -m 'Completed wait_time step'

git push origin master

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!

### b) `get_review_score`
     ‚ùì A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
        `order_id`, `dim_is_five_star`, `dim_is_one_star`, `review_score`

`dim_is_$N$_star` s√ºtunu `review_score=$N$` ise `1`, deƒüilse `0` i√ßermelidir

<details>
    <summary markdown='span'>ƒ∞pu√ßlarƒ±</summary>

`Series.map()` veya `DataFrame.apply()` √ºzerine d√º≈ü√ºn√ºn
    
</details>

üëâ We load the `reviews` for you

In [19]:
#reviews = data['order_reviews'].copy()
#assert(reviews.shape == (99224,7))
#reviews

In [16]:
fake_reviews = pd.DataFrame({
    "order_id": ["1", "2", "3"],
    "review_score": [5, 1, 3]
})

In [17]:
order.reviews = fake_reviews

In [18]:
res = order.get_review_score()
res

  order_id  review_score  dim_is_five_star  dim_is_one_star
0        1             5                 1                0
1        2             1                 0                1
2        3             3                 0                0

Yine,

üëÄ Olu≈üturduƒüunuz DataFrame'i kontrol edin.  

üí™ Kodunuz √ßalƒ±≈ütƒ±ƒüƒ±nda, kodunuzu `olist/order.py` i√ßine ta≈üƒ±yƒ±n  

üß™ ≈ûimdi a≈üaƒüƒ±daki h√ºcreyi √ßalƒ±≈ütƒ±rarak test edin üëá

In [ ]:
# Test your code here
from olist.order import Order
Order().get_review_score()

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!

### c) `get_number_items`:
     ‚ùì A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
        `order_id`, `number_of_items` (her sipari≈ü i√ßin toplam √ºr√ºn sayƒ±sƒ±)

In [19]:
fake_order_items = pd.DataFrame({
    "order_id": ["1", "1", "1", "2", "2", "3"],
    "order_item_id": [1, 2, 3, 1, 2, 1]
})

In [20]:
from olist.order import Order

order = Order()
order.order_items = fake_order_items

In [21]:
res = order.get_number_items()
res

  order_id  number_of_items
0        1                3
1        2                2
2        3                1

üß™ Aynƒ± rutin:
* DataFrame'inizi kontrol edin,
* Kodunuzu `olist/order.py` i√ßine ta≈üƒ±yƒ±n
* ve ger√ßekten √ßalƒ±≈ütƒ±ƒüƒ±nƒ± doƒürulayƒ±n.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('number_items',
                         shape=Order().get_number_items().shape,
                         columns=Order().get_number_items().columns)
result.write(); print(result.check())

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!

### d) `get_number_sellers`:
     ‚ùì A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
        `order_id`, `number_of_sellers` (her sipari≈ü i√ßin benzersiz satƒ±cƒ± sayƒ±sƒ±)
        
<details>
    <summary>‚ñ∏ <i>ƒ∞pucu</i></summary>

`pd.Series.nunique()` metoduna bakƒ±n
</details>

In [22]:

fake_order_items = pd.DataFrame({
    "order_id": ["1", "1", "1", "2", "2", "3"],
    "seller_id": ["A", "A", "B", "C", "C", "D"]
})

In [23]:

from olist.order import Order

order = Order()
order.order_items = fake_order_items

In [24]:
res = order.get_number_sellers()
res

  order_id  number_of_sellers
0        1                  2
1        2                  1
2        3                  1

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers',
                         shape=Order().get_number_sellers().shape,
                         columns=Order().get_number_sellers().columns)
result.write(); print(result.check())

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!

### e) `get_price_and_freight`
     A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
        `order_id`, `price`, `freight_value`

In [25]:
fake_order_items = pd.DataFrame({
    "order_id": ["1", "1", "2", "2", "2"],
    "price": [10.0, 20.0, 5.0, 7.0, 8.0],
    "freight_value": [2.0, 3.0, 1.0, 1.5, 2.5]
})

In [26]:
from olist.order import Order

order = Order()
order.order_items = fake_order_items

In [27]:
res = order.get_price_and_freight()
res

  order_id  price  freight_value
0        1   30.0            5.0
1        2   20.0            5.0

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!

## 2. Hepsini bir arada: `get_training_data`

‚ùì Daha √∂nce kodladƒ±ƒüƒ±nƒ±z metodlarƒ± kullanarak `get_training_data` metodunu yazma zamanƒ±; t√ºm sipari≈ü √∂zelliklerini tek bir tabloda toplayƒ±n.

In [28]:
from olist.order import Order
import pandas as pd

# Order objesi
order = Order()

# ---- fake orders ----
order.orders = pd.DataFrame({
    "order_id": ["1", "2"],
    "order_status": ["delivered", "delivered"],
    "order_purchase_timestamp": [
        "2017-01-01 10:00:00",
        "2017-01-02 12:00:00"
    ],
    "order_delivered_customer_date": [
        "2017-01-03 10:00:00",
        "2017-01-03 18:00:00"
    ],
    "order_estimated_delivery_date": [
        "2017-01-02 10:00:00",
        "2017-01-04 12:00:00"
    ]
})

# ---- fake reviews ----
order.reviews = pd.DataFrame({
    "order_id": ["1", "2"],
    "review_score": [5, 1]
})

# ---- fake order_items ----
order.order_items = pd.DataFrame({
    "order_id": ["1", "1", "2"],
    "seller_id": ["A", "B", "C"],
    "order_item_id": [1, 2, 1],
    "price": [10.0, 20.0, 5.0],
    "freight_value": [2.0, 3.0, 1.0]
})

# ---- √ßaƒüƒ±r ----
df = order.get_training_data()
df

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status,review_score,dim_is_five_star,dim_is_one_star,number_of_items,number_of_sellers,price,freight_value
0,1,2.00,1.0,1.0,delivered,5,1,0,2,2,30.0,5.0
1,2,1.25,2.0,0.0,delivered,1,0,1,1,1,5.0,1.0

üß™ A≈üaƒüƒ±da test edin

In [ ]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

üí° **Beklenen satƒ±r sayƒ±sƒ±nƒ± elde edemiyor musunuz?**
<details><summary>8 satƒ±rlƒ±k bir fark mƒ± var?</summary>
Sonu√ßta `NaN` i√ßermeyen bir DataFrame istiyoruz. `NaN`'larƒ± kaldƒ±rmayƒ± deneyin. (√áok karma≈üƒ±k hale getirmeyin: genelde kodunuzda bir satƒ±rƒ± deƒüi≈ütirmeniz yeterlidir.)
</details>
<details><summary>Ba≈üka bir fark mƒ± var?</summary>
Belki t√ºm adƒ±mlarƒ± tek bir DataFrame'de birle≈ütirirken bir ≈üey yanlƒ±≈ü gitmi≈ütir? Birle≈ütirmelerinizi (merge) kontrol edin.
</details>

üèÅ Tebrikler! 

üíæ Notebook'unuzu ve `olist/order.py` i√ßindeki kodunuzu commit edip pushlayƒ±n, sonra sonraki alƒ±≈ütƒ±rmaya ge√ßin.

## 3. [ƒ∞STEƒûE BAƒûLI] `get_distance_seller_customer` 
**Bu fonksiyonu yalnƒ±zca bug√ºnk√º alƒ±≈ütƒ±rmalarƒ± bitirdikten sonra yazmayƒ± deneyin.**

**√ñnce bir sonraki alƒ±≈ütƒ±rmaya ge√ßin.**

    ‚ùì A≈üaƒüƒ±yƒ± d√∂nd√ºren bir DataFrame olu≈üturun:
        `order_id`, `distance_seller_customer` (m√º≈üteri ile satƒ±cƒ± arasƒ±ndaki mesafe, km cinsinden)

üí° `olist.utils` mod√ºl√ºnde sizin i√ßin yazƒ±lmƒ±≈ü `haversine_distance` form√ºl√ºne g√∂z atƒ±n

Bunu kullanarak `get_distance_seller_customer`'ƒ± kodlayƒ±n.

‚ö†Ô∏è Bir sipari≈ü birden fazla satƒ±cƒ± i√ßerebileceƒüi i√ßin, sipari≈ü ba≈üƒ±na ortalama satƒ±cƒ±-m√º≈üteri mesafesini alƒ±n.

In [ ]:
matching_geo = Order().get_distance_seller_customer()

üëâ Hemen satƒ±cƒ±-m√º≈üteri mesafesinin daƒüƒ±lƒ±mƒ±nƒ± hƒ±zlƒ±ca inceleyelim :)

In [ ]:
sns.displot(data = matching_geo, x ='distance_seller_customer')

üëâ Satƒ±cƒ±-m√º≈üteri mesafesinin medyanƒ± ve ortalamasƒ± nedir?

In [ ]:
matching_geo['distance_seller_customer'].describe()

üëÄ Yeni DataFrame'inizi kontrol edin ve kod √ßalƒ±≈ütƒ±ƒüƒ±nda `olist/order.py` i√ßine ta≈üƒ±yƒ±n.

In [ ]:
Order().get_distance_seller_customer()['distance_seller_customer']

üß™ Kodunuzu test edin

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('distance',
    mean = Order().get_distance_seller_customer()['distance_seller_customer'].mean())
result.write()
print(result.check())

Ayrƒ±ca `with_distance_seller_customer` `True` olarak ayarlandƒ±ƒüƒ±nda `get_training_data`'yƒ± `get_distance_seller_customer` ile birle≈ütirecek ≈üekilde g√ºncelleyin.

‚ö†Ô∏è `order.py` i√ßindeki deƒüi≈üiklikleri `olist` deposuna commit etmeyi unutmayƒ±n!